@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400;1,500&family=Leckerli+One&display=swap');


.homepage{
    margin:0;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Alegreya";
    color: #1e396f;
    overflow: auto;
    
}

/* Login page css */

.text-login{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 900px;
    font-size: 60px;
    justify-content: center;
}

.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100px;
    font-size: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.text p{
    padding-bottom: 5px;
    text-align: center;
}

.registracija{
    background-color: #d65d5c;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    margin-top: 20px;
    max-width: 300px;
    font-size: 30px;
    color: white;
    font-family: "Leckerli One";
    cursor: pointer;
}

.registracija:hover{
    background-color: #f6f5fa;
    color: #1e396f;
    transition: all 0.5s ease;
    outline: none !important;
}

.login{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: auto;
    justify-content: center;
    max-width: 550px;
    background-color: #f6f5fa;
    border-radius: 50px;
    padding: 20px 10px 20px 10px;

}


.input{
    background-color: #1e396f;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    width: 100%;
    font-size: 25px;
    margin: 0 40px 10px 40px;
    cursor: pointer;
}

.login ::placeholder{
    color: #f6f5fa;
    opacity: 0.5;
    font-style: italic;
}

.input:focus{
    background-color: #f6f5fa;
    color: #1e396f;
    transition: all 0.5s ease;
    font-style: normal;
    outline: none;
    border: 1px solid #1e396f;
}
.submit{
    width: 150px;
    border: none;
    border-radius: 100px;
    background-color: #d65d5c;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
    cursor: pointer;
    font-family: "Leckerli One";
    margin-top: 10px;
    margin-left: 125px;
    margin-right: 125px;
}

.submit:hover{
    background-color: #f6f5fa;
    color: #1e396f;
    transition: all 0.5s ease;
    outline: none !important;
}

.login p{
    margin-bottom: 60px;
}

.image-alert{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 800px;
    justify-content: right;

}

.alert{
    background-color:#1e396f;
    color: #f6f5fa;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: italic;
    
}

.image{
    max-width: 100%;
    height: auto;
    padding-top: 60px;
}


@media screen and (max-width: 1520px){
    .homepage{
        display: flex;
        justify-content: flex-end;
    }
    .image-alert{
        max-width: 600px;
        justify-content: center;
    }
    .image{
        max-width: 600px;
        height: auto;
    }
    .alert{
        width: 100%;
    }
    .login{
        margin-top: auto;
    }
    .text{
        margin-bottom: 30%;
    }

    .text-login{
        max-width: 700px;
        justify-self: center;
    }
    .login p{
        font-size: smaller;
    }
    .input{
        font-size: 20px;
    }
}

@media screen and (max-width: 1210px){
    .homepage{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-top: 10px;
    }

    .image-alert{
        margin: auto;
        justify-content: center;
    }
    .alert{
        font-size: 25px;
        width: 100%;
    }

    .image{
        max-width: 100%;
        height: auto;
    }

    .text-login{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin:auto;
        text-align: center;
    }

    .login {
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

}
@media screen and (max-width: 630px) {
    .text p{
        font-size: 40px;
    }
    .login p{
        font-size: 40px;
    }
    
}


/* Sign up page css */

.reg{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin: 0 20px;
}

.reg input{
    border-radius: 100px;
    padding: 10px 30px;
    width: 100%;
    outline: none !important;
    border: none;
    background-color: #f6f5fa;
    font-size: 25px;
    cursor: pointer;
}

.reg input:focus{
    background-color: white;
    color: #1e396f;
    transition: all 0.5s ease;
    font-style: normal;
    outline: none;
    border: 1px solid #d65d5c;
}

.reg ::placeholder{
    color: #1e396f;
    font-style: italic;
    font-size: 25px;
    opacity: 0.5;
}

.reg label{
    color: #d65d5c;
}

.tekst{
    font-size: 60px;
    color: #1e396f;
    text-align: center;
}

.label{
    font-size: 25px;
    margin: 20px auto 20px 30px;  
}

.dupli{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 20px auto;
    column-gap: 10px;

}

.single{
    margin: 20px auto;
}

.krgrupe{
    text-align: center;
}

.krgrupe select{
    border-radius: 100px;
    font-size: 25px;
    padding-left: 5px;
    outline: none !important;
    border: 1px solid #1e396f;
}

.krgrupe label{
    color: #1e396f;
    font-size: 25px;
    padding: 10px 30px;
}

.napomena p{
    font-size: 20px;
    margin: 20px; 
    text-align: center;  
}

.gumbi{
    text-align: center;
}

.kreiraj{
    font-size: 30px;
    border-radius: 100px;
    background-color: #d65d5c;
    color: #f6f5fa;
    border: none;
    padding: 10px 30px;
}

.kreiraj:hover{
    background-color: #f6f5fa;
    color: #1e396f;
    transition: all 0.5s ease;
    outline: none !important;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .tekst{
        font-size: 40px;
    }
    .reg input{
        font-size: 20px;
    }
    .reg input::placeholder{
        font-size: 20px;
    }
}
@media screen and (max-width: 545px){
    .dupli{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dupli input{
        margin-top: 20px;
    }
    .reg {
        margin: 10px 40px;
    }
    .label{
        font-size: 20px;
        margin: 20px auto 0 30px;  
    }
    
}