<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Spring Boot - Thymeleaf</title>
    <link th:href="@{src/main/resources/templates/emails/main.css}" href="src/main/resources/templates.emails/main.css" rel="stylesheet"/>
</head>
<body class="flex items-center justify-center h-screen">
<div class="rounded-lg border shadow-lg p-10 w-3/5">
    <div class="flex flex-row justify-between pb-4">
        <div>
            <h2 class="text-xl font-bold">Donacija #<span class="text-green-600" th:text="${donationId}"></span>
            </h2>
        </div>
        <div>
            <div class="text-xl font-bold" th:text="${donationDate}"></div>
        </div>
    </div>
    <table class="table-fixed w-full text-right border rounded">
        <thead class="bg-gray-100">
        <tr>
            <th class="text-left pl-4">Ime</th>
            <th>Prezime</th>
            <th>Adresa</th>
            <th class="pr-4">Radno Mjesto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="pl-4 text-left" th:text="${donorFirstName}"></td>
            <td th:text="${donorLastName}"></td>
            <td th:text="${donorAddress}"></td>
            <td class="pr-4" th:text="${donorWorkPlace}"></td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-xl font-bold">Djelatnik</h2>
    <table class="table-fixed text-left w-2/6 border">
        <tr>
            <th class="text-green-600">Ime</th>
            <td th:text="${bankWorkerFirstName}"></td>
        </tr>
        <tr>
            <th class="text-green-600">Prezime</th>
            <td th:text="${bankWorkerLastName}"></td>
        </tr>
        <tr>
            <th class="text-green-600">Kontakt:</th>
            <td th:text="${bankWorkerWorkContact}"></td>
        </tr>
    </table>
</div>
</body>
</html>