version: "3"

services:
  trueblood-database:
    image: "postgres:13-alpine"
    ports:
      - "5430:5432"
    volumes:
      - "trueblood-db-data:/var/lib/postgresql/data"
    environment:
      - "POSTGRES_USER=admin"
      - "POSTGRES_PASSWORD=admin"
      - "POSTGRES_DB=Trueblood"
volumes:
  trueblood-db-data:

# naredba za runnat container
# docker run --rm --name courses-database -v courses-data:/var/lib/postgresql/data -p 5432:5432 -e POSTGRES_PASSWORD=admin -e POSTGRES_DB=courses-db -d postgres:13-alpine
